<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <div class="topmenu">
            <h2>00pomofocus</h2>
            <button class="headButton" type="button">11login</button>
            <button class="headButton" type="button">22setting</button>
            <button class="headButton" type="button">33report</button>
        </div>
        <div class="rootbox">
            <div class="btnTypeTimer">
                <button type="button">Pomodoro</button>
                <button type="button">Short Break</button>
                <button type="button">Long Break</button>
            </div>
            <div class="timerRoot">
                <!-- {{minit}}:{{timeLeft}} -->
                <!-- (click)="startTimer()" -->
            </div>
            <button class="btnStart">START</button>
        </div>
        <div class="topOfAddTasks">
            <div class="taskname-top">
                <p>Time to work!</p>
                <p hidden> WORKING ON</p>
                <label hidden></label>
            </div>
            <div class="addedTaskList">
                Tasks
                <button type="menu">1</button>
            </div>
        </div>
        <div class="addedTask"><button type="button">Add Task</button></div>
    </div>
</body>

</html>